# {{ ansible_managed }}
#
# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

systemLog:
  destination: file
  path: {{ mongod_log_file }}

processManagement:
  fork: true  # fork and run in background
  pidFilePath: {{ mongod_pid_file }}
  timeZoneInfo: /usr/share/zoneinfo

net:
  port: {{ mongod_port }}
  bindIp: localhost,{{ inventory_hostname }}  # Enter 0.0.0.0,:: to bind to all IPv4 and IPv6 addresses or, alternatively, use the net.bindIpAll setting.如果指定网卡，则必须包含localhost，否则无法创建用户
  bindIpAll: false  # 设置为true，等同于监听0.0.0.0，如果ipv6为true，则也将监听所有ipv6地址
  ipv6: false
  unixDomainSocket:
      enabled: true
      pathPrefix: {{ mongod_base_dir }}
      filePermissions: 0700

security:
  authorization: {{ mongod_authorization }}
  {%- if mongod_authorization == 'enabled' and mongod_replication +%}
  keyFile: {{ mongod_key_file }}
  {% endif %}

storage:
  dbPath: {{ mongod_data_dir }}
  journal:
    enabled: true

operationProfiling:
  mode: slowOp  # off/slowOp/all
  slowOpThresholdMs: 1000
# slowOpSampleRate: <double> Default: 1.0. between 0 and 1 
# filter: '{ op: "query", millis: { $gt: 2000 } }' When filter is set, slowOpThresholdMs and slowOpSampleRate are not used for profiling and slow-query log lines.

{% if mongod_replication or mongod_sharding %}
replication:
  replSetName: {{ mongod_replication_name }}
#  oplogSizeMB: <int>  default 5% of available disk space
{% endif %}

{% if mongod_sharding %}
sharding:
  clusterRole: {{ mongod_sharding_role }}  # configsvr/shardsvr   requires the mongod instance to be running with replication
  archiveMovedChunks: false
{% endif %}

## Enterprise-Only Options

#auditLog:

#snmp:
