{{ nginx_log_dir }}/*log {
    daily
    dateext
    rotate 10
    missingok
    notifempty
    compress
    delaycompress
    sharedscripts
    postrotate
        /bin/kill -USR1 `cat {{ nginx_pid_file }} 2>/dev/null` 2>/dev/null || true
    endscript
}
