[Unit]
Description=The NGINX HTTP and reverse proxy server
After=syslog.target network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
User={{ nginx_user }}
Group={{ nginx_group }}
Type=forking
PIDFile={{ nginx_pid_file }}
ExecStartPre={{ nginx_link_dir }}/sbin/nginx -t
ExecStart={{ nginx_link_dir }}/sbin/nginx
ExecReload={{ nginx_link_dir }}/sbin/nginx -s reload
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
