[mysql]
{%+ for k, v in mysql_options.items() -%}
  {{ k }}={{ v }}
{%+ endfor %}

[mysql_upgrade]

[mysqladmin]
{%+ for k, v in mysqladmin_options.items() -%}
  {{ k }}={{ v }}
{%+ endfor %}

[mysqlbinlog]

[mysqlcheck]

[mysqldump]
{%+ for k, v in mysqldump_options.items() -%}
  {{ k }}={{ v }}
{%+ endfor %}

[mysqlimport]

[mysqlshow]

[mysqlslap]

