[mysql]
password = {{ mysql_root_password }}
socket = {{ mysql_base_dir }}/mysql.sock
prompt = "[\d]> "

[mysql_upgrade]

[mysqladmin]

[mysqlbinlog]

[mysqlcheck]

[mysqldump]
password = {{ mysql_root_password }}
socket = {{ mysql_base_dir }}/mysql.sock

[mysqlimport]

[mysqlshow]

[mysqlslap]

